<form (ng-submit)="onSubmit()">
    <div>
      <div class="form-group">
        <label for="Customer">Item-Name</label>
        <input type="text" class="form-control" id="txtCustomer" ng-model="username" ></div>
        <div class="form-group">
          <label for="area">Rate</label>
          <input type="text" class="form-control" id="txtArea" ng-model="area" ></div>
          <div class="form-group">
            <label for="Cell : ">Remark</label>
            <input type="text" class="form-control" id="txtCell" ng-model="Cell" ></div>
            
            <button type="submit" class="btn btn-primary">Submit</button>
    </div>        
  </form>